.box1{
    background-color: #ff0062;
    height: 120px;
}
.box2{
    background-color: #7600ec;
    height: 60px;
}
.redes{
    font-size: 60px !important;
    color:rgb(255, 255, 255);
}
.textos{
    color: rgb(255, 255, 255);

}